
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color: #B0CCA3;
    height: 75px;
}

.webmenu {
    display: flex;
    flex-direction: row;
    gap: 10px

}

.logo {
    height: 70px;
    width:auto
}

.left-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

a {
    font-family: 'Courier New';
    font-weight:bold;
}

button {
    font-family: 'Courier New';
    font-weight:bold;
}

.quotes {
    height: 400px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #006556;
}

.quote-marks {
    width: 100px;
    height: 100px
}

.quote-pic {
    width: 250px;
    height: 250px
}

.text {
    display: flex;
    justify-content: space-between;
}

p {
    font-family: "Courier New";
    font-size: 40px;
    font-style: italic;
}