body{
    font-family: sans-serif;
    margin: 0;
}
section{
    padding-top: 50px;
    padding-bottom: 50px;
}
header{
    padding-bottom: 50px;
}
footer{
    padding-top: 50px;
    padding-bottom: 20px;
}
.ordernow{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: 1cap;
    display: flex;
    width: fit-content;
}
/*Welcome Section*/
.welcome{
    background-size: cover;
    background-position: center;
    background-image: url(./assets/banner/welcome.png);
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*align-items: center;*/
    padding-top: 70px;
}
.welcome-container{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.white{
    color: white;
}
.welcome-paragraph{
    width: 400px;
    /*height: 70px;*/
    font-size: small;
}
.welcome-header{
    width: 200px;
    height: 50px;

}
.welcome-learnmore{
    background-color: rgb(67, 40, 5);
    color: white;
    padding: 10px 20px;
    border: 1cap;
    display: flex;
    width: fit-content;
}
/*End Welcome*/

/*Start Our Story*/
.story-right{
    background-color: rgb(67, 40, 5);
    color: white;
    padding: 10px 20px;
}
.welcome-picture-left{
    display: flex;
    width: 50%;
}
.story{
    display: flex;
    flex-direction: row;
    background-color: rgb(87, 52, 7);
    gap: 30px;
}
.right-story{ 
    height: 20px;
    width: fit-content;
    font-size: 2em;
}
.ourstory-readme{ /*change this name*/
    height: 100px;
    width: 300px;
    font-size: small;
}
.gap-one{
    gap: 20px;
    column-gap: 50px;
}
.ourstory-container{
    width: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: row;

}
/**/
/*Start Bestsellers Page*/
.coffee-menu{
    color: white;
    background-image: url(./assets/bestsellers/coffeemenu.png);
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
}
.coffee-menu h2{
    font-size: 40px;
    color: rgb(67, 40, 5);
}
.menu-column{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.menu-intro{
    font-size: 20px;
    color: black;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 80%;
    margin: auto;
}
.menu-item{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}
.drinks{
    width: 50px;
}
.menu-item-name{
    display: flex;
    justify-content: space-between;
    width: 100%;

}
.menu-details h3{
    font-size: 18px;
}
.menu-details{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.coffee-name{
    display: flex;
    justify-content: space-between;
}
.coffee-name span{
    display: flex;
    align-items: center;
}

/*Start Locations*/
.locations{
    display: flex;
    justify-content: space-around;
    background: bisque;
    height: fit-content;
    padding-top: 50px;
}
.location{
    text-align: center;
    border-width: 1px;
    border: 1px solid black;
    width: 45%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.location-detail{
    display: flex;
    flex-direction: column;
}
.location-info{
    display: flex;
}
.location-info div{
    width: 33%;
}
.get-directions{
    color: azure;
    border: 1cm;
}
.location img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    row-gap: 10px;
}
/*Gallery Section*/
.gallery-item{
    width: 45%;
    display: flex;
    justify-content: center;
    height: 300px;
    overflow: hidden;
}
.gallery{
    background-image: url(assets/gallery/gallerybeans.png);
}
.gallery-top{
    font-size: 3rem;
    font-weight: bold;
    color: black;
    text-align: center;
}
.gallery-item img{
    width: 100%;
    height: fit-content;
    display: block;
    object-fit: initial;

}
.gallery-container{
    display: flex;
    flex-wrap: wrap;
    /*grid-template-columns: repeat(2, 1fr);*/
    gap: 20px;
    justify-content: space-evenly;
}
.gallery-descrip{
    font-size: 1rem;
    color: black;
    text-align: center;
}
/*End Gallery Section*/
/**/
.reasons-icontxt{
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
.reasons{
    text-align: center;
    background-color: rgb(239, 210, 172);
    height: 150px;
    display: flex;
}
.icons-text{
    font: 16px;
    margin-top: 50px;
}
.ph-coffee-bean{
    font-size: 50px;
    display: flex;
}

.navigation{
    display: flex;
    position: fixed;
    background-color: antiquewhite;
    width: 100%;
    height: fit-content;
}
.links{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.head-left{
    height: 40px;
}
.head-middle{
    display: flex;
    position: initial;
}
.links div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
/*Quote Section*/
.quote{
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.quote-left{
    display: flex;
    align-items: center;
    width: 50%;
}
.quote-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.quote-text{
    display: flex;
    color: black;
    font-size: 25px;
    text-align: center;
}
.quote img{
    width: 300px;/*80%*/
    height: 200px;
}
.quote-text::before{
    content: "''";
    font-size: 50px;
    margin-bottom: 2em;
    display: block;
}
.quote-text::after{
    content: "''";
    font-size: 50px;
    display: block;
    margin-top: 1.5em;
}
.quote-text span{
    padding-top: 25px;
}
.edit-text i{
    font-size: 50px;
}
/*Footer Section*/
.footer-left{
    height: 40px;
    display: flex;
    
}
.footer-links{
    display: flex;
    width: 100%;
    position: initial;
    align-items: center;
    color: white;
    gap: 5px;
    flex-direction: space-between;
    justify-content: space-between;
}
.footer-container{
    display: flex;
    gap: 10px;
    border-width: 2px;
    border: 1px solid black;
    background-color: rgb(90, 54, 7);
    padding-top: 1px;
}
.footer-left img{
    overflow-clip-margin: content-box;
    overflow: clip;
}
.footer-links{
    padding: 0 10px;
    text-decoration: none;
}
.bold{
    font-weight: bold;
    font-size: 15px;
}
.get-directions{
    background-color: black;
    padding: 10px 20px;
    width: 100%;
}
@media screen and (max-width:1000px){
    .location-info div{
        width: 100%;
    }
    .location-info{
        flex-direction: column;
    }
}
@media screen and (max-width: 768px) {
    .quote{
        flex-direction: column;
        text-align: center;
    }
    .quote-left, .quote-right{
        flex: none;
        width: 100%;
    }
    .quote-text{
        font-size: 1.2rem;
    }
    
}
@media screen and (max-width: 768px) {
    .reasons-icontxt{
        flex-direction: column;
        gap: 15px;
    }
    .edit-text{
        flex: none;
        width: 80%;
        margin: auto;
    }
    
}